@charset "utf-8";     

*{
    margin: 0 ; 
    padding : 0 ;  
}


body a {
    text-decoration: none; 
    color : #555 ; 
}

header{     
    width : 100% ;  
    max-width : 1920px ;  
    margin: 0 auto;   
    height : 90px ; 
    padding-left: 40px ;  
    background-color: #fff ;  
    border-bottom: 1px solid rgba(54, 51, 51, 0.5);    
    z-index: 100 ;  
    padding-top : 20px ; 
    padding-bottom: 10px ; 
    position : fixed ;  

}



.logo{
  width : 100% ;  
  max-width : 1920px ;     
  height: 34px; 
  display: flex ;
  align-items:end  ; 
  font-size: 18px ;  
 } 

.gnb{
  height: 52px ;  
  width : 100% ;  
  max-width : 1920px ;
    display: flex ;
  align-items:end  ;  
 }   



.gnb ul {
    display : flex ; 
    justify-content: flex-start;   
  }   


header ul li {
    text-align: center ;

}
header ul li:first-child {
    width : 90px ;  
    text-align: left ; 
}  



.banner {
    height : 1080px ;    
    background-color: #939693 ; 
}





/* ====================================  */
/* ===공통레이아웃===========================  */
/* ====================================  */
body {
  counter-reset: one;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  position: relative;
  padding: 120px 20px 0 20px;
  box-sizing: border-box; 
  border: 1px solid red ; 
}

h2 {
  font-size: 40px;
  color: #404040;
  padding-top: 20px;
  position: relative;
}  

h2:not(.tit)::before {
  counter-increment: one;
  content: "0" counter(one);
  font-size: 60px;
  color: #333 ; 
  letter-spacing: 0;
  position: absolute;
  top: 20px;
  left: -200px;
  z-index: -1;
}  




header h1 {
  padding: 0 5rem;
  box-sizing: border-box;
}

header h1 a {
  display: block;
  /* height: 100%; */
}

header h1 a img {
  width: 20%;
}

header nav ul {
  display: flex;
  width: 50%;
  align-items: flex-end;
}

header nav ul li {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 2px;
  padding-right: 3.5rem;
}

header nav ul li a {
  text-decoration: none;
  color: #333;
  display: block;
  position: relative; 
  user-select: none ;    
}






/* ====================================  */
/* ===section===========================  */
/* ====================================  */
section {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  height: 100vh;
}

section .container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  height: 100%; 
}

section .container .tit {
  font-size: 60px;
  font-weight: bold;
  color: #222;
  font-family: 'Montserrat', sans-serif;  
}

section .container p {
  font-size: 26px;
  line-height: 2rem;
  letter-spacing: -1.2px;
  color: #555;
  
}





/* ====================================  */
/* ===#section2===========================  */
/* ====================================  */

